<div class="navbar align-items-center brand border-bottom">

  <%=link_to image_tag('logo_mixit.png', width: '80px', class: 'logo mx-5'), root_path %>
  <div class="align-items-center d-flex justify-content-between" style="width: 260px">
    <p> <%= link_to 'ADD COCKTAIL', new_cocktail_path, class: "mx-4"%></p>
    <%=link_to image_tag('girl.jpeg', width: '80px', class: 'avatar-new mr-5', style: "width: 47px;"), error_path %>
  </div>
</div>




<!-- card container start -->
  <div class="container mx-auto">
    <div class="cards mx-auto">
      <!-- cards start -->
        <!-- iteration through cocktails -->
          <% @cocktails.each do |cocktail|%>
            <div class="card-wrapper" >

              <!-- front start -->
                <div class="card card--front" >
                  <div class="gradient-effect">
                    <%= cl_image_tag cocktail.photo, style: 'z-index: -1', height: 400, width: 300, crop: :fill %>
                  </div>
                  <div class="name text-center">
                    <h1>  <%= cocktail.name.upcase %></h1>
                  </div>
                </div>
              <!-- front end -->

              <!-- back start -->
                <div class="card card--back">
                  <div class="name-back">
                    <h4 class="text-center mt-3"><%= cocktail.name.upcase %></h4>
                    <hr class="mb-1 mt-0">
                  </div>
                  <div class="description" style="">
                      <!-- iteration through doses -->
                        <% cocktail.doses.each do |dose|%>
                          <tr>
                            <h2 class="card-text mt-2 d-flex justify-content-between">
                              <div class="one-side text-align-right" style="width: 33%;">
                              <td style="color: #3C3C3B;"><%= dose.description %></td>
                              </div>
                              <div class="two-side text-align-left" style="width: 62%">
                              <td><%= dose.ingredient.name %> <%= link_to dose_path(dose), method: :delete do %><i class="fa fa-trash-alt" style="color: lightgray; font-size: 12px; font-weight: lighter;"></i></%></td><% end %>
                              </div>
                            </h2>
                          </tr>
                        <% end %>
                      <!-- iteration through doses end-->
                  </div>
                  <hr class=" mt-0 mb-0 mx-auto" style="width: 100%;">
                  <div class="buttons my-auto py-auto mx-auto align-items-baseline">
                    <%= link_to 'New dose', new_cocktail_dose_path(cocktail), class: 'btn-ghost-danger', width: '49%;' %>
                    <%= link_to ' Delete ', cocktail_path(cocktail), method: :delete , class: 'btn-ghost-danger', width: '49%;' %>
                  </div>
                </div>
              <!-- back end -->

            </div>
          <% end %>
        <!-- iteration through cocktails end-->
      <!-- cards end -->
    </div>
    <!-- button add a cocktail-->
      <div class=" my-5 d-flex justify-content-center">
        <%= link_to 'Add cocktail', new_cocktail_path, class: "btn btn-ghost"%>
      </div>
    <!-- button add a cocktail-->
  </div>
<!-- card container end -->





















<div class="footer">
      <p>Made with ♥️and glass of wine</p>
</div>
