<div class="navbar align-items-center brand border-bottom">

  <%=link_to image_tag('logo_mixit.png', width: '80px', class: 'logo mx-5'), root_path %>
  <div class="align-items-center d-flex justify-content-between" style="width: 260px">
    <p> <%= link_to 'ADD COCKTAIL', new_cocktail_path, class: "mx-4"%></p>
    <%=link_to image_tag('girl.jpeg', width: '80px', class: 'avatar-new mr-5', style: "width: 47px;"), error_path %>
  </div>
</div>




<!-- card container start -->
  <div class="container mx-auto">
    <div class="cards mx-auto">
      <!-- cards start -->
        <% @cocktails.each do |cocktail|%>
          <div class="card-wrapper" >
            <!-- front start -->
              <div class="card card--front" >
                <%= cl_image_tag cocktail.photo, height: 400, width: 300, crop: :fill %>
                <div class="name text-center">
                  <h1>  <%= cocktail.name %></h1>
                </div>
                <!-- <div class="footer">
                  <div class="rating">
                    <i class="fa fa-mail-forward"></i> Auto Rotation
                  </div>
               </div> -->
              </div>
            <!-- front end -->
            <!-- back start -->
              <div class="card card--back">
                <div class="name-back">
                  <h4 class="text-center mt-3"><%= cocktail.name %></h4>
                  <hr class="mb-1 mt-0" style="width: 70%;">
                </div>
                <div class="description" style="">
                  <% cocktail.doses.each do |dose|%>
                    <tr><p class="card-text">
                      <td> <%= dose.description %> of <strong> <%= dose.ingredient.name %></strong></td>
                      <td><%= link_to dose_path(dose), method: :delete do %><i class="fa fa-trash-alt" style="color: gray"></i></%></td>
                      <% end %>
                    </p></tr>
                  <% end %>
                </div>
                <div class="buttons py-5">
                  <%= link_to cocktail_path(cocktail), method: :delete do %> <i class="fa fa-trash-alt" style="color: gray"></i></%><% end %>
                  <p class="card-text"><small class="text-muted"><%= link_to 'Add a new dose', new_cocktail_dose_path(cocktail) %></small></p>

                </div>
              </div>
            <!-- back start -->

          </div>
        <% end %>
      <!-- cards start end -->
    </div>
    <!-- button add -->
      <div class="d-flex justify-content-center">
        <%= link_to 'Add cocktail', new_cocktail_path, class: "btn btn-ghost"%>
      </div>
  </div>
<!-- card container end -->





















<div class="footer">
      <p>Made with ♥️and glass of wine</p>
</div>
