<!-- card container start -->
  <div class="container mx-auto ">
    <!-- header start -->
      <div class="header-wrapper">
        <div class="header">
          <h1 class="my-auto"><%= @cocktails.count %> Cocktails</h1>
          <p>in collection</p>
        </div>
        <!-- add a cocktail button -->
          <div>
              <button class="icon-btn add-btn" data-toggle="modal" data-target="#newCocktail">
                <div class="add-icon"></div>
                <div class="btn-txt">ADD NEW COCKTAIL</div>
              </button>
          </div>
        <!-- add a cocktail button -->
        <!-- modal for new cocktail form start -->
          <div class="modal fade" id="newCocktail" tabindex="-1" role="dialog" aria-labelledby="newCocktailTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newCocktailTitle">ADD NEW COCKTAIL</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'form', cocktail: @cocktail %>
                </div>
              </div>
            </div>
          </div>
        <!-- modal for new cocktail form end -->
      </div>
    <!-- header end-->

    <div id="main">
      <div class="cards mx-auto mt-4">
        <!-- cards start -->
          <!-- iteration through cocktails -->
            <% @cocktails.each do |cocktail|%>
              <div class="card-wrapper" >

                <!-- front start -->
                  <div class="card card--front" style="border-radius: 6px; background-image: url(<%= cocktail.photo %>); background-size: 102%; background-position: center; background-repeat: no-repeat;" >
                    <!-- <div class="gradient-effect"> -->
                      <%#= cl_image_tag cocktail.photo, style: 'border-radius: 6px; z-index: -1', height: 370, width: 290, crop: :fill %>
                    <!-- </div> -->
                    <div class="name text-center mx-auto" style="border-radius: 6px;">
                      <h1>  <%= cocktail.name.upcase %></h1>
                    </div>
                  </div>
                <!-- front end -->

                <!-- back start -->
                  <div class="card card--back">
                    <div class="name-back">
                      <h4 class="text-center mt-3"><%= cocktail.name.upcase %></h4>
                      <hr class="mb-1 mt-0">
                    </div>
                    <div class="description">
                        <!-- iteration through doses -->
                          <% cocktail.doses.each do |dose|%>
                            <tr>
                              <h2 class="card-text py-1 mt-2 d-flex justify-content-between">
                                <div class="one-side">
                                  <td><%= dose.description %></td>
                                </div>
                                <div class="two-side">
                                  <td>
                                    <%= dose.ingredient.name %> <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to remove #{dose.ingredient.name} from #{cocktail.name.upcase}?"} do %>
                                      <%= image_tag('delete', height: '11px', style: "padding-left: 5px;") %>
                                    <% end %>
                                  </td>
                                </div>
                              </h2>
                            </tr>
                          <% end %>
                        <!-- iteration through doses end-->
                    </div>
                    <hr class=" mt-0 mb-0 mx-auto" style="width: 100%;">
                    <div class="buttons my-auto py-auto mx-auto">
                      <%= link_to new_cocktail_dose_path(cocktail) do %>
                        <i class="fas fa-plus-circle"></i>
                      <% end %>
                      <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure you want to delete #{cocktail.name.upcase} from your collection?"} do %>
                        <i class="fa fa-trash-alt" style="font-weight: lighter;"></i>
                      <% end %>
                    </div>
                  </div>
                <!-- back end -->
              </div>

              <!-- modal for delete finish later -->
                <!-- modal for delete cocktail alert start -->
                 <!--  <div class="modal fade" id="deleteAlert" tabindex="-1" role="dialog" aria-labelledby="deleteAlertTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center mx-auto" id="deleteAlertTitle"><i class="fas fa-exclamation-circle" style="font-size: 70px; margin-left: 110%; color: #f69557;"></i></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-center mt-3" style="width: 100%;">
                          <div class="text mx-auto" style="width: 60%;">
                            <h5>Are you sure you want to delete <%#= cocktail.name %>?</h5>
                            <p>Once deleted, you will not be able to recover it</p>
                          </div>
                          <hr>
                          <div class="d-flex justify-content-around align-items-center mx-auto mb-0" style="width: 60%;">
                            <%#= link_to 'Cancel', cocktails_path, class: 'upload-photo-link' %>
                            <%#= link_to 'Delete', cocktail_path(cocktail), class: 'upload-photo-link', method: :delete, data: { disable_with: 'Please Wait…' } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                <!-- modal for delete cocktail alert end -->
              <!-- modal for delete finish later -->


              <!-- modal for new dose form start (not using it right now) -->
                <div class="modal fade" id="newDose" tabindex="-1" role="dialog" aria-labelledby="newDoseTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="newDoseTitle">ADD NEW DOSE</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for [cocktail, @dose] do |f| %>
                          <div class="form-inputs">
                            <%= f.association :ingredient %>
                            <%= f.input :description%>
                          </div>
                          <div class="form-actions mt-4 mb-3">
                            <%= f.button :submit, class: "create-button" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- modal for new dose form end (not using it right now)-->
            <% end %>
          <!-- iteration through cocktails end-->

          <!-- another add-button within cards (need to choose which to keep) -->
            <!-- button-modal for new cocktail form start -->
              <%= link_to '', 'data-toggle' => 'modal', 'data-target' => '#newCocktail' do %>
                <div class="card card-button mx-auto ">
                  <i class="fas fa-plus-circle"></i>
                </div>
              <% end %>
            <!-- button-modal for new cocktail form end -->
          <!-- another add-button within cards (need to choose which to keep) -->

        <!-- cards end -->
      </div>

      <!-- add a cocktail button -->
        <!-- <div class="d-flex justify-content-center mt-2 py-1">
          <%#= link_to '', 'data-toggle' => 'modal', 'data-target' => '#newCocktail' do %>
            <button class="icon-btn add-btn">
              <div class="add-icon"></div>
              <div class="btn-txt">ADD NEW COCKTAIL</div>
            </button>
          <%# end %>
        </div> -->
      <!-- add a cocktail end -->
    </div>
  </div>
<!-- card container end -->
