
<div class="navbar align-items-center brand border-bottom">

  <%=link_to image_tag('logo_mixit.png', width: '80px', class: 'logo mx-5'), root_path %>
  <%=link_to image_tag('girl2.jpeg', width: '80px', class: 'avatar-new mx-5 ', style: "width: 47px;"), error_path %>
</div>
<div class="container my-5 d-flex justify-content-center show">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1509448613959-44d527dd5d86?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img" alt="...">
    <div class="d-flex">
      <div class="card-body">
        <h5 class="card-title"><%= @cocktail.name %></h5>
          <p><em>Ingredient list:</em></p>
          <% @cocktail.doses.each do |dose|%>
            <tr><p class="card-text">
              <td> <%= dose.description %> of <strong> <%= dose.ingredient.name %></strong></td>
              <td><%= link_to dose_path(dose), method: :delete do %><i class="fa fa-trash-alt" style="color: gray"></i></%></td>
              <% end %>
            </p></tr>
          <% end %>
            <p class="card-text"><small class="text-muted"><%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail) %></small></p>
        <%= link_to 'Back', cocktails_path %>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="footer align-items-center d-flex justify-content-center">
      <p>Made with ♥️and glass of wine</p>
</div>
