<div class="container my-5 " style="width: 500px;">
  <div class="row justify-content-center my-4">
    <img src="<%= asset_path '404.png' %>" style='width: 500px' alt="">
  </div>
  <div class="row justify-content-center" >
    <%=link_to image_tag('404 copy.png', width: '150px'), root_path %>
  </div>
  <div class="row justify-content-center mt-1">
    <img src="<%= asset_path '404 copy 2.png' %>" style='width: 500px' alt="">
  </div>
  <div class="row justify-content-center">
    <%=link_to image_tag('404 copy 3.png', width: '320px'), root_path %>
  </div>
</div>



<!-- 1.container -->
<div class="container align-items-center">
<!-- 2. Card grid -->
  <div class="cards py-5">
    <!-- iteration -->
    <% @cocktails.each do |cocktail|%>
      <!-- 3. card trip  -->
      <div class="card-trip">
        <!-- main image -->
        <%= cl_image_tag cocktail.photo, class: 'card-img', height: 300, width: 400, crop: :fill %>
        <!-- 4. info part -->
          <div class="card-trip-infos">
              <div>
                <h2> <%= link_to cocktail.name, cocktail %> </h2>
              </div>
            <%= link_to cocktail_path(cocktail), method: :delete do %> <i class="fa fa-trash-alt" style="color: gray"></i></%><% end %>
          <!-- 4. info part -->
          </div>
      <!-- 3. card trip  -->
      </div>
    <!-- iteration -->
    <% end %>
  <!-- 2. Card grid -->
  </div>
    <div class="d-flex justify-content-center">
      <%= link_to 'Add cocktail', new_cocktail_path, class: "btn btn-ghost"%>
    </div>
<!-- 1.container -->
</div>
