<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), url(https://images.unsplash.com/photo-1559849327-ae1157eb88b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <!-- navbar for homepage only start -->
    <div class="navbar bg-transparent">
      <div class="navbar-box mx-auto">
        <!-- logo start -->
          <div class="my-auto">
            <%=link_to image_tag('mixit3.png', class: 'navbar-logo'), root_path %>
          </div>
        <!-- logo end -->

        <!-- if user signed in start -->
          <% if user_signed_in? %>
            <div class="nav-item dropdown">
              <% unless current_user.avatar.blank? %>
                <%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <i class="fas fa-user-circle avatar" id="navbarDropdown" data-target="#dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 40px;"></i>
              <% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="dropdown-menu">
                <%#= link_to "Profile", "#", class: "dropdown-item" %>
                <!-- <hr class="mx-auto mt-1 mb-0 p-0 d-flex" style="width: 75%;"> -->
                <%#= link_to "Dashboard", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
        <!-- if user signed in end -->

        <!-- if user is not signed in start (show signin/signup links) -->
          <% else %>
            <% unless controller_name == "registrations" || controller_name == "sessions" %>
              <div class='links p-auto'>
                <%=link_to 'Log in', new_user_session_path, class: 'user-link mr-2' %>
                |
                <%=link_to 'Sign up', new_user_registration_path, class: 'user-link ml-2' %>
              </div>
            <% end %>
          <% end %>
        <!-- if user is not signed in end -->

        <%#=link_to image_tag('girl.jpg', width: '80px', class: 'avatar-new', style: "width: 47px;"), error_path %>
      </div>
    </div>

  <!-- navbar for homepage only end -->
  <!-- body -->
    <div class="label text-align-right">
      <h5 class="pr-2">Cocktails Recipes Collection</h5>
      <div class="row">
        <%= link_to (cocktails_path) do %>
          <div class="button-frame">
            <span> Start </span>
            <svg>
              <polyline class="o1" points="0 0, 130 0, 130 45, 0 45, 0 0"></polyline>
              <polyline class="o2" points="0 0, 130 0, 130 45, 0 45, 0 0"></polyline>
            </svg>
          </div>
        <% end %>
      </div>
    </div>
  <!-- body end -->
</div>

<!-- footer for homepage only start -->
  <div class="foot">
    <p>Made with ♥️and glass of wine</p>
  </div>
<!-- footer for homepage only end -->
